#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=System;
NoDisplay=false
Exec=sudo /usr/local/bin/freebsd-install
TryExec=sudo /usr/local/bin/freebsd-install
Name=Install HardenedBSD
Comment=Install the HardenedBSD operating system on your computer
Icon=hardenedbsd
